<h2>Contact List</h2>
<table class="table table-striped">
    <thead>
      <tr>
        <th >Id</th>
        <th >Name</th>
        <th >Email</th>
        <th >Phone</th>
        <th >Action</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let contact of contacts">
            <td>{{contact.id}}</td>
            <td>{{contact.name}}</td>
            <td>{{contact.email}}</td>
            <td>{{contact.phone}}</td>
            <td>
              <button class="btn btn-danger" (click)="deleteContact(contact.id)">DELETE</button>
            &nbsp;
              <button class="btn btn-info" (click)="editContact(contact.id)">Update</button>
            </td>
        </tr>
      
    </tbody>
  </table>





